*{
  font-family: 'Muli', sans-serif;
  margin: 0;
}
div.country-details-wrapper {
  font-size: 0.9em;
}

div.country-details-wrapper h3 {
  margin: 0.1em 0 0 0;
  background: darkslateblue;
  color: white;
  padding: 5px;
}

table.country-table {
  border: 2px solid darkgrey;
  margin: 0;
  width: 100%;
}

table.country-table thead th {
  background: darkgrey;
  color: darkslateblue;
  padding: 5px;
}

table.country-table tr:nth-child(even) {
  background: gainsboro;
}

table.country-table tbody td {
  padding: 5px;
  text-align: center;
}

table.country-table tr:hover {
  background: lightslategray;
  color: white;
}

table.country-table tr:hover button#edit {
  background: whitesmoke;
  color: black;
}

button {
  color: black;
  border: none;
  border-radius: 2px;
  padding: 5px;
}
button#edit {
  background-color: grey;
  color: white;
}

button#delete {
  background-color: firebrick;
  color: white;
}

button:hover {
  cursor: pointer;
}
