<div class="country-details-wrapper">
  <div class="child-target" />
  <h3>
    <span>Country Details Widget</span>
    <span style="float: right; margin-top: -2.5px;" title="Add Country Component">
      <button style="float: right; width: 2em; background: yellow;" id="add"
        ng-click="$ctrl.showChildComponent()">
        +
      </button>
    </span>
  </h3>
  <table class="country-table">
    <thead>
      <tr>
        <th>Country</th>
        <th>Capital</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="country in $ctrl.countries track by $index">
        <td>{{country.name}}</td>
        <td>{{country.capital}}</td>
        <td>
          <div>
            <button id="edit" ng-click="$ctrl.editCountry($index)">Edit</button>
            <button id="delete" ng-click="$ctrl.deleteCountry($index)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
