table.add-population-table {
  background: whitesmoke;
  padding: 5px;
  width: 100%;
}

.add-population-btn#add-population-btn {
  background-color: yellowgreen;
  color: white;
}

.add-population-btn#clear-population-btn {
  background-color: grey;
  color: white;
}
