<div class="population-wrapper">
  <h3>
    <span>Population Widget</span>
    <span style="float: right; margin-top: -2.5px;" title="Close">
        <button style="float: right; width: 2em; background: yellow;" id="add"
          ng-click="$ctrl.closePopulationComponent()">
          X
        </button>
      </span>
  </h3>
  <table class="add-population-table">
    <tbody>
      <tr>
        <td>Country:</td>
        <td><input type="text" ng-model="$ctrl.population.country_name" /></td>
      </tr>
      <tr>
        <td>Population:</td>
        <td><input type="number" ng-model="$ctrl.population.population" /></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="add-population-btn" id="clear-population-btn">
            clear
          </button>
          <button class="add-population-btn" id="add-population-btn">
            Add
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
