<div class="population-wrapper">
  <h3><u>Population Widget</u></h3>
  <table class="add-population-table">
    <tbody>
      <tr>
        <td>Country:</td>
        <td><input type="text" ng-model="$ctrl.population.country_name" /></td>
      </tr>
      <tr>
        <td>Population:</td>
        <td><input type="number" ng-model="$ctrl.population.population" /></td>
      </tr>
      <tr>
        <td>
          <button class="add-population-btn" id="clear-population-btn">
            clear
          </button>
        </td>
        <td>
          <button class="add-population-btn" id="add-population-btn">
            Add
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
